PREFIX rdf:      <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs:     <http://www.w3.org/2000/01/rdf-schema#>
PREFIX xsd:      <http://www.w3.org/2001/XMLSchema#>
PREFIX owl:      <http://www.w3.org/2002/07/owl#>
PREFIX swrl:     <http://www.w3.org/2003/11/swrl#>
PREFIX swrlb:    <http://www.w3.org/2003/11/swrlb#>
PREFIX vitro:    <http://vitro.mannlib.cornell.edu/ns/vitro/0.7#>
PREFIX bibo:     <http://purl.org/ontology/bibo/>
PREFIX c4o:      <http://purl.org/spar/c4o/>
PREFIX cito:     <http://purl.org/spar/cito/>
PREFIX event:    <http://purl.org/NET/c4dm/event.owl#>
PREFIX fabio:    <http://purl.org/spar/fabio/>
PREFIX foaf:     <http://xmlns.com/foaf/0.1/>
PREFIX geo:      <http://aims.fao.org/aos/geopolitical.owl#>
PREFIX obo:      <http://purl.obolibrary.org/obo/>
PREFIX ocrer:    <http://purl.org/net/OCRe/research.owl#>
PREFIX ocresd:   <http://purl.org/net/OCRe/study_design.owl#>
PREFIX skos:     <http://www.w3.org/2004/02/skos/core#>
PREFIX uidaho:   <http://vivo.nkn.uidaho.edu/ontology/uidaho#>
PREFIX vcard:    <http://www.w3.org/2006/vcard/ns#>
PREFIX vitro-public: <http://vitro.mannlib.cornell.edu/ns/vitro/public#>
PREFIX vivo:     <http://vivoweb.org/ontology/core#>
PREFIX vlocal:   <http://localhost/vivo/ontology/vivo-local#>
PREFIX scires:   <http://vivoweb.org/ontology/scientific-research#>

SELECT  ?orglink ?uni ?coll ?header ?image ?p ?d ?a ?n ?pic WHERE{ FILTER(?orglink = <http://vivo.nkn.uidaho.edu/individual/n333>) . ?orglink rdfs:label ?uni ;  obo:BFO_0000051 ?coll . ?coll a vivo:College; rdfs:label ?header ; vitro-public:mainImage ?i ; obo:BFO_0000051 ?p .?p a vivo:AcademicDepartment ; vivo:relatedBy ?b ; rdfs:label ?d .  ?b vivo:relates ?a . ?a a vivo:FacultyMember ; rdfs:label ?n ; vitro-public:mainImage ?profpic . ?i vitro-public:thumbnailImage  ?thumb .  ?thumb vitro-public:downloadLocation ?im .  ?im vitro-public:directDownloadUrl ?image . ?profpic vitro-public:thumbnailImage  ?profthumb .  ?profthumb vitro-public:downloadLocation ?pm .  ?pm vitro-public:directDownloadUrl ?pic . } GROUP BY ?orglink ?uni ?coll ?header ?image ?p ?d ?a ?n ?pic ORDER BY ?header ?n
